{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	{% include 'includes/sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your profile:</strong>{{ user.email }}
			
		</header>

		<div class="card-body">
			<div class="row"> 
        <div class="card-body">
          <img src="{{profile.profile_picture.url}}" alt="User Profile Picture" width="100" height="100" style="border-radius:50px;">
          
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="mb-0">{{ profile_form.profile_picture }}</p>
            <p>First Name: {{ user_form.first_name }} Last Name: {{ user_form.last_name }}</p>
          <p>phone: {{user_form.phone_number}}</p>
          <button class="btn btn-primary" type="sumbmit">Save Changes</button>
          </form>
        </div>
				<div class="col-md-12">
          <div class="card-body">
          <form action="">
              <div class="form-row">
                  <div class="col form-group">
                    <strong>Current address</strong><br>
                      {% if primary_address %}
                      {{primary_address.full_name}}<br>
                      {{primary_address.street}} 
                      {{primary_address.number}} {% if primary_address.complement %}/{{primary_address.complement}}{% endif %}<br>
                      {{primary_address.area}}<br>
                      {{primary_address.city}} - {{primary_address.state}}<br>
                      {{primary_address.zip_code}}<br>
                      <a href="" data-toggle="modal" data-target="#exampleModalCenter2"><button class="btn btn-primary">Change current address</button></a>
                      <a href="" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal"><button class="btn btn-primary">Add New Address</button></a>
                      {% else %}
                      <a href="" data-toggle="modal" data-target="#exampleModalCenter"><p>Add New Address</p></a>
                      {% endif %}
                  </div>
              </div>
          </form>
        </div>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- Modal for New shipping address -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Shipping Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'addShippingAddress' %}" method="POST">
              {% csrf_token %}
              {{shipping_address_form|crispy}}<br>
              <button type="submit" class="btn btn-primary">Save Address</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- modal for list of shipping addresses-->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Your Shipping Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {% for address in address_list %}
                <div class="card">
                    <Form action="#" method="get">
                    <div class="card-body">
                        <aside class="col-lg-5">
                        {{address.full_name}}<br>
                        <input type="hidden" name="full_name" value="{{address.full_name}}">
                        {{address.street}} 
                        {{address.number}}
                        {{address.complement}}<br>
                        {{address.area}}<br>
                        {{address.city}} - {{shipping_address.state}}<br>
                        {{address.zip_code}}<br>
                        </aside>
                    </div>
                    <aside class="col-lg-8">
                        <a href="{% url 'removeShippingAddress' address.id %} "><button type="button" class="btn btn-danger">Remove</button></a>
                        <a href="{% url 'selectShippingAddress' address.id %}"><button type="button" class="btn btn-primary" >Select</button></a>
                        <!-- NOT IMPLEMENTED <button type="button" class="btn btn-success"  formmethod='post' data-dismiss='modal' data-toggle="modal" data-target="#updateAddressModal{{address.id}}">Update</button> -->
                    </aside>
                </div>
              </form>
                {% endfor%}
            </div>
            <div class="modal-footer">
                <a href="" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal"><p>Add New Address</p></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
    </div>

<!-- Modal for updating an existing shipping address NOT IMPLEMENTED-->
{% for address in user_shipping_address %}
<div class="modal fade" id="updateAddressModal{{address.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
            {% if shipping_address %}
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'addShippingAddress' %}" method="POST">
              {% csrf_token %}
              {% for field in shipping_address_form %}
              <div class="fieldWrapper">
                {{field.label_tag}}
                <input name="{{field.label}}" id="{{field.label}}" type="text" value="">
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Save Address</button>
          </form>
        </div>
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}