{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-conten padding-y">
    <div class="container">
        <div class="row">
            {% if origin == 'dashboard' %}
            {% include 'includes/sidebar.html' %}
            {% endif %}
            <!-- ============================ COMPONENT RESET PASSWORD   ================================= -->
            <div class="card {% if origin == 'forgot-password' %} mx-auto {% endif %}" style="max-width: 600px; margin-top:0px;">
                {% include 'includes/alerts.html' %}
                {% load crispy_forms_tags %}
                <div class="card-body">
                    <h4 class="card-title mb-4">Reset Password</h4>
                    <form method = 'POST'>
                    {% csrf_token%}
                    {{ form | crispy}}    
                    <div class="form-group"><br>
                        <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
                    </div> <!-- form-group// -->    
                    </form>
                </div> <!-- card-body.// -->
            </div> <!-- card .// -->
        <br><br>
        </div><!-- row -->
    </div><!-- container-->
<!-- ============================ COMPONENT RESET PASSWORD  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}